################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LLVolunteer-UserApi/.vs/LLVolunteer-UserApi/v16
/LLVolunteer-UserApi/*/bin
/LLVolunteer-UserApi/*/obj
/LLVolunteer-UserApi/.vs
/LLVolunteer-UserApi/*/*/obj
/LLVolunteer-UserApi/*/*/bin
/LLVolunteer-UserApi/*/*/*/obj
/LLVolunteer-UserApi/*/*/*/bin
/.vs
